<% layout("/layouts/boilerplate") -%>

<div class="container mt-5">
    <div class="row">
      <div class="alert alert-danger col-md-6 offset-md-3 text-center" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p><%= message || "Something went wrong. Please try again later." %></p>
        <hr>
        <a href="/" class="btn btn-outline-danger mt-3">Back to Home</a>
      </div>
    </div>
  </div>